<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>My_Project.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A0AD7AF01EE843A100C8F4A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0AD7B041EE843A100C8F4A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0AD7B0F1EE843A100C8F4A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
